.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  background: linear-gradient(to bottom right, #ffffff, #feffff);
}

.header {
  text-align: center;
  margin-bottom: 3rem;
}

.title {
  font-size: 3.5rem;
  font-weight: bold;
  color: #11284b;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.title:hover {
  color: #ff9800;
}

.description {
  font-size: 1.6rem;
  color: #666;
  max-width: 800px;
  margin: 0 auto;
}

.areas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
}

.area {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.area:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 4.5rem;
  margin-bottom: 1.5rem;
  transition: transform 0.5s ease;
}

.cardTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 1rem;
  color: #11284b;
}

.cardDescription {
  font-size: 1.2rem;
  color: #666;
  margin: 1rem 0;
}

.cardButton {
  background-color: #11284b;
  color: white;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardButton:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.generalButtonContainer {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.generalButton {
  background-color: #4caf50;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.generalButton:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modalLogo {
  width: 80px;
  margin-bottom: 20px;
}

.modalButton {
  background-color: #25D366;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.modalButton:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .areas {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .area {
    width: 80%;
    margin: 0 auto;
  }

  .cardTitle {
    font-size: 1.6rem;
  }

  .cardDescription {
    font-size: 1.1rem;
  }

  .cardButton {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.4rem;
  }

  .cardTitle {
    font-size: 1.5rem;
  }

  .cardDescription {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1.2rem;
  }

  .cardTitle {
    font-size: 1.3rem;
  }

  .cardDescription {
    font-size: 1rem;
  }

  .areas {
    grid-template-columns: 1fr;
  }

  .area {
    width: 90%;
    margin: 0 auto;
  }
}
