.section {
    padding: 4rem 0;
    background-color: #f8f8f8;
  }
  
  .sectionTitle {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #177ca8;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    transition: transform 0.3s ease;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  }
  
  .imageWrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
    border: 4px solid #177ca8;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  k,kll
  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
  }
  
  .name {
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: bold;
  }
  
  .position {
    color: #666;
    margin-bottom: 1rem;
  }
  
  .social {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    color: #177ca8;
    transition: transform 0.3s ease;
  }
  
  .icon:hover {
    transform: scale(1.2);
  }
  